## REFERANCE SCREENS

**Return Verification opening screen**

![Return Verification Screen](../ImagesFMCG/Returnverification.png)

**Return Verification save screen**

![Return Verification Screen](../ImagesFMCG/Returnverification1.png)

**Return Verification excel upload screen**

![Return Verification Screen](../ImagesFMCG/Returnverification2.png)
