## Referance screens

**Return Verification opening screen**

![Return Verification Screen](../ImagesF&V/Returnverification.png)

**Return Verification save screen**

![Return Verification Screen](../ImagesF&V/Returnverification1.png)